# ─────────────────────────────────────────
# PostgreSQL
# ─────────────────────────────────────────
POSTGRES_USER=pguser
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=ecom
POSTGRES_PORT=5432

# ─────────────────────────────────────────
# Redis
# ─────────────────────────────────────────
REDIS_PASSWORD=redissecret
REDIS_PORT=6379

# ─────────────────────────────────────────
# NATS
# ─────────────────────────────────────────
NATS_USER=natsuser
NATS_PASSWORD=natssecret
NATS_PORT=4222
NATS_MONITOR_PORT=8222

# ─────────────────────────────────────────
# Grafana
# ─────────────────────────────────────────
GRAFANA_USER=admin
GRAFANA_PASSWORD=grafanasecret
GRAFANA_PORT=3000
