# ─────────────────────────────────────────
# PostgreSQL
# ─────────────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_USER=pguser
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=ecom
POSTGRES_PORT=5432
POSTGRES_SCHEMA=order

# ─────────────────────────────────────────
# Redis
# ─────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PASSWORD=redissecret
REDIS_PORT=6379

# ─────────────────────────────────────────
# NATS
# ─────────────────────────────────────────
NATS_HOST=localhost
NATS_USER=natsuser
NATS_PASSWORD=natssecret
NATS_PORT=4222
NATS_MONITOR_PORT=8222
